{% extends 'Backend/base.html.twig' %}

{% block title %}
	Modification Delivery
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Modification Delivery</h1>
		{% include 'Backend/Delivery/_form.html.twig' with { buttonLabel: 'Modifier' } %}
	</section>
{% endblock %}
